<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Deepanshu, Grovin Singh Atwal & Deepak" />
    <title>Spam Detection</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/logo.png" />
  </head>
  <body>
    <div class="container">
      <h1>Spam Detection</h1>
      <p>A project by Deepanshu, Grovin Singh Atwal & Deepak</p>
      <a href="{{ url_for('predict') }}" class="redirect_button">Get Started</a>
    </div>
  </body>
</html>
